@charset "utf-8";

/* iPhone XR */
@media screen and (min-width: 376px) and (max-width: 415px) {

  .button {
    transform: translateX(25%);
  }
  .signature > a > img {
    transform: translateX(19%);
  }
  main > .espaco {
    margin-top: 347px;
  }
}
