@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* Degrade: Cor01 #212E46 cor02 #1E293E cor03 #171B27 */

* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
header > h1 > strong {
  color: #616977;
  text-align: center;
}
header > h1 {
  text-align: center;
  color: #616977a6;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 10px;
}
hr {
  width: 90vw;
  margin: auto;
}
body,
html {
  height: 100vh;
  background-image: linear-gradient(#212e46, #1e293e, #171b27);
}
main > img {
  width: 120px;
  border-radius: 1000px;
  left: 49%;
  top: 50%;
  position: relative;
  margin-left: -40px;
  margin-top: 20px;
  animation: go-back 2.2s infinite alternate;
}
/* Test */
@keyframes go-back {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0);
  }
}
/* Test */
main > h2 {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-size: 2.4em;
  padding-bottom: 10px;
}
main > p {
  color: rgba(255, 255, 255, 0.637);
  font-size: 1.4em;
  width: 390px;
  padding-left: 8vw;
  text-align: center;
}
.button {
  transform: translateX(100px);
  text-align: center;
  margin-top: 30px;
  border-radius: 40px;
  padding: 10px;
  width: 250px;
  background-color: white;
  font-size: 1.5em;
}
.button:hover {
  text-decoration: none;
  transition: transform 0.3s;
  transform: translate(100px) translateY(-5px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
}
article > img {
  max-width: 100vw;
}
.text{
    background-color: white;
}
.text > h2{
    padding-top: 50px;
    font-size: 2.4em;
    text-align: center;
}
.text > p{
    text-align: center;
    padding-bottom: 50px;
}
aside{
    padding-top: 40px;
    background-image: linear-gradient(#171B27, #1E293E);
}
aside > h2{
    color: white;
    text-align: center;
    font-size: 2.4em;
}
aside > P {
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
}
